.container{
 margin-top: 3%;
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  
}

.buttonClass{
  margin: 5px;
  margin: auto;
  margin-bottom: 10px;
 
}


.btn.btn-primary{
  margin-right: 5px;

}

.btn.btn-dark{
  margin-left: 5px;
}



.tabla {
    margin: auto;
      border-collapse: collapse;
      width: auto;
      background-color: antiquewhite;
      table-layout: fixed;
      width: 200px;
    
    }

    
    .tabla td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      z-index: 1; 
      position: relative;
      
    }
  
    h1{
      text-align: center;
    }
    .containerImageGame {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .containerImageCavernicola {
      border: 0;
      position: relative;
      top: 0;
      left: 0;
      
    }

    .userImg{
      transform: rotate (180deg)
    }
  
  